* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    margin-bottom: 150px;
}

.header-bg {
    background-image: url(./images/donation0.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-content-area {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    color: white;
}

.header-content {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 30%;
}

.header-content h1 {
    width: 100%;
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 75px;
    font-weight: 700;
}

.header-content p {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.link-button {
    text-decoration: none;
    background-color: #EF233C;
    color: white;
    padding: 12px 16px;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

.sec1-content {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.sec1-inner1 {
    width: 40%;
}

.sec1-inner1 h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.sec1-inner1 p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.sec1-inner1 a {
    margin-top: 20px;
}

.sec1-inner2 {
    width: 40%;
}

.sec1-inner2 img {
    width: 100%;
    border-radius: 10px;
}